@import url('https://fonts.googleapis.com/css2?family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Hi+Melody&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", sans-serif;
    /* border: .1rem solid red; */

}

:root {

    /* DEFINING COLOURS */
    --lead: #212121;
    --gold-finger: #c93e26;
    --eye-ball: #f6e7d9;
    --hint-yellow: #deb288;
    --pure-white: #f7debe;
} 

/* this gives the scrolling effect */
html {
    scroll-behavior: smooth;
}


body {
    background: var(--eye-ball);
}

/* BASIC STYLING */

a {
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--lead);
}

.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

li {
    list-style: none;
}

.between {
    justify-content: space-between;
}

.gap-2 {
    gap: 2rem;
}


.gap-3 {
    gap: 3rem;
}

.wrapper {
    max-width: 1400px;
    margin: auto;
    padding-inline: 1.5rem;
}

img{
    max-width: 100%;
    height: auto;
    margin: auto;
    /* fixes image spacing */
    display: block;

}

.p-top{
    padding-top: 10rem;
}

.text-center{
    text-align: center;
}

.mt-4{
    margin-top: 4rem;
}

.mt-one-half{
    margin-top: .5rem;
}

.m-auto{
    margin: auto;
}

.mt-one-five-half{
    margin-top: 1.5rem;
}




/* HEADER STYLING */

.navbar {
    min-height: 14vh;
    ;
}

.logo {
    font-size: 2rem;
    font-weight: bold;
    color: var(--gold-finger);
}


.btn {
    display: inline-block;
    padding: .9rem 2rem;
    background: var(--gold-finger);
    border-radius: 1rem;
    font-size: 1.1rem;
    color: var(--pure-white);
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;
}

.btn:hover {
    background: var(--lead);

}

.cart-icon {
    color: var(--lead);
    font-size: 1.3rem;
    position: relative;
    /* made it relative to the tiny circle */

}

.cart-icon .cart-value {

    /* this section works on the tiny circle on top 
    of the shopping bag, I made it aligned in the middle
    using text align and line height */

    position: absolute;
    top: 50%;
    right: -10px;
    font-size: .85rem;
    width: 20px;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--hint-yellow);
    text-align: center;
    line-height: 20px;
}


.desktop-action .hamburger {
    font-size: 1.5rem;
    display: none;
}

.mobile-menu {
    display: none;
}





/* SECTTION STYLING */

/* SECTION 01 */

.hero-section{
    min-height: calc(100vh - 14vh);
}

/* formats them */
.content, .image-container, .service-card{
    flex: 1;
    flex-basis: 300px;
} 



h1{
    font-size: 5.6vw;
    color: var(--lead);
}

h1 span{
    color: var(--gold-finger);
}

p{
    font-size: 1.25rem;
    color: rgb(174, 10, 10);
    line-height: 1.8rem;
    font-weight: 400;


}

.para{
    margin-block: 2rem;
    max-width: 550px;
}

.social-icon{
    background: var(--hint-yellow);
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 1rem;
    font-size: 1.2rem;
    text-align: center;
    line-height: 3rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 2px 1px;
    transition: .3s ease-in-out;
}

.social-icon:hover{
    background: var(--lead);
    color: var(--pure-white);
}

/* SECTION 01 */

h5{
    font-size: 1.2rem;
    letter-spacing: .2rem;
    color: var(--gold-finger);
    text-transform: uppercase;
}

h2{
    font-size: 3.7rem;
    text-transform: capitalize;
    color: var(--lead);
}

h3{
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--lead);
}

.service-card h3{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    
}

.service-card {
    flex: 1;
    flex-basis: 300px;

    text-align: center;
    padding: 2rem 1.5rem;
    background: var(--pure-white);
    border-radius: 1.5rem;
    border: 2px solid var(--gold-finger);
    max-width: 400px;
    margin: 0 auto;
    

    transition: transform 0.2s ease, box-shadow 0.2s ease;
    
}

.service-card:hover {
    transform: translateY(-6px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.service-icon {
    font-size: 3rem;
    color: var(--gold-finger);
    transition: 0.3s ease;
}

.service-card:hover .service-icon {
    transform: scale(1.1);
    color: var(--lead);
}

.images-container {
    width: 80px;
    height: 80px;
    margin: 0 auto 1rem auto;
    background: var(--hint-yellow);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-container img {
    max-height: 100px;
    width: auto;
    object-fit: contain;
}



/* SECTION 02 */

.order-card {
    flex: 1;
    flex-basis: 300px;
    background: var(--pure-white);
    padding: 0 1rem 2rem 1rem;
    border: .1rem solid var(--gold-finger);
    border-radius: 2rem;
    box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
    rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
    text-align: center;
    transition: transform 0.2s ease;
    

}

.order-card:hover {
    transform: translateY(-5px);
}

.order-card img{
    width: 15rem;
    filter: drop-shadow(rgba(0, 0, 0, 0.2) 0 10px 10px);
}

/* fixing card format */
.card-image {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card-image img {
    max-height: 180px;
    width: auto;
    object-fit: contain;
}

h4{
    font-size: 1.8rem;
    color: var(--lead);

}

.order-card .price{
    font-size: 1.7rem;
    color: var(--gold-finger);
    padding: 1.3rem 0 2rem 0;
}

/* CART TAB STYLING */
.cart-tab{
    background: var(--hint-yellow);
    position: fixed;
    inset: 0 -500px 0 auto;
    width: 25rem;
    padding-block: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.099) -10px -10px 20px;
    transition: 0.3s ease-in-out;
}

.cart-tab-active{
    inset: 0 0 0 auto;
}

.cart-list{
    flex: 1;
    width: 100%;
    margin-top: 1.5rem;
    overflow: auto;
}


/* no scroll bar shown */
.cart-list::-webkit-scrollbar {
    width: 0;
}



.total-container {
    width: 100%;
    background: var(--gold-finger);
    display: flex;            
    justify-content: space-between; /* this pushes Total to left, Price to right */
    align-items: center;       /* Keeps them leveled vertically */
    padding: 1rem 2rem;        
    margin-block: 1rem;
    padding-block: 1rem;
}

.total-container h4 {
    margin: 0; 
    color: var(--lead);
}

.cart-total {
    font-weight: bold;
    font-size: 1.5rem;
}

.btn-container .btn{
    background: var(--lead);
    color: var(--pure-white);
    transition: .3s ease-in-out;
    
}

.btn-container .btn:hover{
    background: var(--gold-finger);
    color: var(--lead);
    
}

.item{
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: .7rem 1rem;
    transition: all .5s ease-in-out;
;

}

.item.slider-out{
    transform: translateX(50%);
}


.item .detail{
    flex: 2;
}

.cart-list .item:nth-child(even){
    background: var(--eye-ball);
}

.item .item-image img{
    width: 5rem;
}

.item h4{
    font-size: 1.3rem;
    color: var(--lead);
}

.item .item-total{
    font-weight: 400;
    margin-top: .3rem;
}

.quantity-btn{
    background: var(--lead);
    color: var(--pure-white);
    width: 1.7rem;
    aspect-ratio: 1rem;
    border-radius: 100vw;
    text-align: center;
    line-height: 1.7rem;

}

.quantity-value{
    font-size: 1.2rem;
    font-weight: 400;
    margin-inline: .6rem;
}


/* SECTION 03 */

.review-container{
    width: 650px;
    max-width: 100%;
    flex: 1;
}

/* Swiper Base */
.swiper {
    width: 100%;
    height: 100%;
}


.profile {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background: var(--hint-yellow);
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--gold-finger); 
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.profile:hover {
    transform: scale(1.05);
}

.arrow{
    width: 2.5rem;
    aspect-ratio: 1;
    border-radius: 100vw;
    background: var(--gold-finger);
    color: var(--lead);
    text-align: center;
    line-height: 2.5rem;
;
}

.stars {
    color: var(--gold-finger); /* Makes the stars your gold color */
    font-size: 0.9rem;
}

.user-info h4 {
    font-size: 1.4rem;
    margin-bottom: 0.2rem; /* Pulls the stars closer to the name */
}


/* card for reviews */
.swiper-slide {
    background: var(--pure-white);
    padding: 1.5rem;
    border-radius: 1.5rem;
    border: 2px solid var(--gold-finger);
    margin-bottom: 2rem;
}


.profile img {
    width: 60px;
    height: 60px;
    border-radius: 50%; /* Makes the profile pic a circle */
    object-fit: cover;
}



/* Specific layout for the Review Section */
.review-section-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap; 
    gap: 3rem;
}

.review-section-wrapper .image-container {
    flex: 1; 
    min-width: 300px; 
}

.review-section-wrapper .content {
    flex: 1;
    min-width: 0; /* Keeps swiper from "exploding" the width */
}

/* Responsive: Stack them only on mobile */
@media screen and (max-width: 780px) {
    .review-section-wrapper {
        flex-wrap: wrap;
    }
    
    .review-section-wrapper .image-container {
        min-width: 100%; /* Makes image full width on mobile */
    }
}

/* SECTION 04 */

.app-container{
    background: var(--hint-yellow);
    padding: 3rem 6rem;
    border-radius: 3rem;
    gap: 3rem;
    align-items: center;
    
}

/* .app-container .image-container img{
    width: 25rem;
} */

.app-container .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .app-container .image-container img {
    max-width: 100%;
    width: 22rem;
    height: auto;
    object-fit: contain;
} */

.app-container .image-container img {
    width: 34rem;             
    max-width: 100%;
    height: auto;
    object-fit: cover;

    /* border-radius: 2rem;      this gives round corners */
}

/* manju boat pic styling  */
.app-container .image-container {
    background: var(--pure-white);
    padding: 1.5rem;
    border-radius: 2.5rem;  
    border: 2px solid var(--gold-finger);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.app-container .image-container img {

    border-radius: 1rem; 

    transition: transform 0.3s ease;
}



.app-container .image-container:hover {
    transform: translateY(-6px);
    box-shadow: 0 12px 25px rgba(0,0,0,0.15);
}

.app-container .image-container:hover img {
    transform: scale(1.01);
}

.app-container .content h2{
    font-size: 4.5rem;
}

.app-container .image-container:hover {
    border-color: var(--lead);
}




/* SECTION 5 */

.input-container{
    width: 43rem;
    max-width: 100%;
    background: var(--pure-white);
    padding: 0.8rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0 5px 8px;
    border-radius: 1rem;
    margin: 4rem auto 0 auto;


}

input[type="email"]{
    flex: 1;
    height: 7vh;
    background: transparent;
    border: none;
    font-size: 1.1rem;
    padding-left: 1rem;
}

input[type="email"]:focus{
    outline: none;
}


/* FOOTER STYLING */

.footer-container{
    margin-top: 10rem;
    padding-block: 4rem;
    background: var(--hint-yellow);
}

.footer-container .wrapper {
    display: flex;
    justify-content: space-between;  
    align-items: flex-start;      
    flex-wrap: wrap;
    gap: 2rem;                     
}

.footer-wrapper {
    min-width: 150px;           
}

/* gives the first column a specific width so the text wraps nicely */
/* social icon section */
.footer-wrapper:first-child {
    max-width: 300px;
}
.footer-wrapper h4 {
    margin-bottom: 1rem; /* Ensures the headers have a bit of space below them */
}

.footer-wrapper .social-icon{
    background: var(--pure-white);
}

.footer-wrapper .social-icon:hover{
    background: var(--lead);
    color: var(--pure-white);
}

.footer-link{
    color: rgb(174, 10, 10);;
    font-size: 1.1rem;
    transition: .3s ease-in-out;
}

.footer-link:hover{
    color: var(--lead);
}

.footer-content-gap {
    gap: 4rem; /* This creates a forced space between each column */
    align-items: flex-start; /* This aligns columns to the top instead of the center */
}

/* MEDIA QUERIES */

@media screen and (max-width: 780px) {

    /* makes the home menu etc disappear when we reach 780px */

    /* HEADER STYLING */
    .navlist,
    .desktop-action .btn {
        display: none;
    }

    .desktop-action .hamburger {
        display: block;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
        position: absolute;
        top: 20%;
        left: -100%;
        transform: translateX(-50%);
        width: 20rem;
        padding: 2rem;
        background: var(--pure-white);
        border: .1rem solid var(--gold-finger);
        border-radius: 2rem;
        box-shadow: rgba(0, 0, 0, 0.05) 8px 8px 8px,
        rgba(0, 0, 0, 0.05) 8px 8px 8px inset;
        transition: all .5s ease-in-out;
    }

    .mobile-menu-active{
        left: 50%;
        transform: translateX(-50%);
    }

    /* SECTION STYLING */
    
    /* HERO STYLING */

    h1{
        font-size: 3.6rem;

    }
    .content{
        padding-top: 3rem;
    }

    .gap-2{
        gap: 1.4rem
    }

    .gap-4{
        gap: 4rem;
    }

    /* SECTION 01 */

    h2{
        font-size: 3rem;
    }

    /* SECTION 04 */
    .app-container{
        padding: 2.2rem;
    }
    .app-container .content h2{
        font-size: 3.5rem;

    }


}

/* all slide in animation stuff */

/* START hidden */
.slide-in-right,
.slide-in-left {
    opacity: 0;
}

/* RIGHT → LEFT */
.slide-in-right {
    transform: translateX(80px);
    animation: slideRight 0.8s ease forwards;
}

/* LEFT → RIGHT */
.slide-in-left {
    transform: translateX(-80px);
    animation: slideLeft 0.8s ease forwards;
}

/* KEYFRAMES */
@keyframes slideRight {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}